<div class="col-md-6">
    <table id="nodecontrolls" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th><%= _('Node Controlls') %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <% show_node_controlls(@proxmox).each do |btn| %>
                        <%= btn %>
                    <% end %>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <table id="connectioncontrolls" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th><%= _('Connection Controlls') %></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>IP-adress</td>
                <td>Username</td>
                <td>Password</td>
            </tr>
            <% if @proxmox == nil then %>
            <tr>
                <td><%= 'nil' %></td>
                <td><%= 'nil' %></td>
                <td><%= 'nil' %></td>
            </tr>
            <% else %>
            <tr>
                <td><%= @proxmox.ip %></td>
                <td><%= @proxmox.username %></td>
                <td><%= @proxmox.password %></td>
            </tr>
            <% end %>
            <tr>
                <td><%= show_appropriate_connection_button(@proxmox) %></td>
            </tr>
        </tbody>
    </table>
</div>