<table id="proxmoxservers_overview" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Proxmox Servers</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Server ID</td>
            <td>Server IP</td>
            <td>Username</td>
            <td>Storage Directory</td>
            <td>Storage Type</td>
            <td>Bridge</td>
            <td>Is Current?</td>
        </tr>
        <% @proxmoxservers.each do |server| %>
            <tr>
                <td><%= server.id%></td>
                <td><%= server.ip%></td>
                <td><%= server.username%></td>
                <td><%= server.storage %></td>
                <td><%= server.storagetype %></td>
                <td><%= server.bridge %></td>
                <td>
                    <% if server.current == true then%>
                    <%= _('Yes') %>
                    <% end %>
                </td>
                <td>
                    <%= action_buttons(
                            link_to(_('Set Current'),setcurrent_path(:id => server.id)),
                            link_to(_('Delete'),destroy_path(:id => server.id))
                        ) %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
<%= link_to(_('New Server'),new_proxmoxserver_path) %>