<div>
    <table id="properties" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>VMID</th>
                <th>Sockets</th>
                <th>Cores</th>
                <th>Memory</th>
                <th>Size</th>
                <th>Host ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><%= @vm.vmid %></td>
                <td><%= @vm.sockets %></td>
                <td><%= @vm.cores %></td>
                <td><%= @vm.memory %></td>
                <th><%= @vm.size %></th>
                <td><%= @vm.host_id %></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <table id="harddrives" class="table table-bordered table-striped">
        <thead>
            <tr>
                
            </tr>
        </thead>
    </table>
</div>